venv
.venv
venv1

project_settings/__pycache__/
ml_app/__pycache__/

uv.lock
.vs
.vscode/
models/*
!models/Readme.txt
uploaded_images/*
!uploaded_images/Readme.txt
uploaded_videos/*
!uploaded_videos/Readme.txt

